body{
  margin:0px;
  padding:0px;
  background-color:#F7F5F2;
}
nav{
  background-color:black;
  padding:5px;
}
ul li{
    display:inline;
  text-align: center;
   color: white;
   margin: 130px;
  }

 #thecafe { 
    /* background-position: center; */
    /* height: 400px; */
    background-size: cover;
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    /* min-height: 75%; */
   /* margin: 0px; */
  padding: 64px ;
   color:white;
  font-size: 90px;
  background-repeat: no-repeat;

 
   }
  #open{
      float: left ;
      font-size:25px;
      background-color: black;
  } 
  #street{
    /* text-align: right; */
    font-size: 25px;
    float: right;
  }
  h2{
    color: white;
    background-color: black;
    text-align: center;
    display: inline;
  }
  h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Inconsolata", sans-serif;
  }
  #about{
    margin-top: 20px;
    text-align: center;
  }
  .clearfix{
    clear: both;
  }
 p{
   line-height: 1.5;

 }
 #themenu{
   text-align: center;
 }
  