body{
  margin:0px;
  padding:0px;
  background-color:#F7F5F2;
}
nav{
  background-color:black;
  padding:5px;
}
ul li{
    display:inline;
  text-align: center;
   color: white;
   margin: 130px;
  }

 #thecafe { 
    /* background-position: center; */
    /* height: 400px; */
    background-size: cover;
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    /* min-height: 75%; */
   /* margin: 0px; */
  padding: 64px ;
   color:white;
  font-size: 60px;
  font-family: "Lucida Console", Courier, monospace; 
  background-repeat: no-repeat;
  filter:grayscale(70%)
   }

  #open{
      float: left ;
      font-size:25px;
      background-color: black;
  } 
  #street{
    /* text-align: right; */
    font-size: 25px;
    float: right;
  }
  h2{
    color: white;
    background-color: black;
    text-align: center;
    display: inline;
  }
  h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Inconsolata", sans-serif;
  }
  #about{
    margin-top: 20px;
    text-align: center;
  }
  .clearfix{
    clear: both;
  }
 p{
   line-height: 1.5;

 }
 #themenu{
   text-align: center;
 }
  #p1cafe{
    /* color:#5A5958; */
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 20px;
    font-weight: normal;
    
  }
  #p2cafe{
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(240, 240, 240);
    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: .3cm;
    line-height: 1;
    margin: auto;
    padding: 20px;
    width: 50%
  }
  #img1{
    display:block;
    filter: grayscale(70%);
margin-left: auto;
margin-right: auto;
width:700px;
  }
  #p3cafe{
  
    text-align: left;
    margin-left:auto;
    margin-right: auto;
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color:#000000;
    font-size: 20px;
    font-weight: normal;
  }
table {
 
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 15px;
    font-weight: normal;
 border-collapse: collapse;
  text-align: left;
  margin-left:auto;
  margin-right: auto;
}  
table, td, th {
  border: 1px solid black;
}
#img2{
  display:block;
    filter: grayscale(70%);
margin-left: auto;
margin-right: auto;
width:700px;
}
  #Where{
    text-align:center;
  }
  #p4cafe{ text-align: left;
    margin-left:auto;
    margin-right: auto;
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 20px;
    font-weight: normal;

  }
  #img3{
    display:block;
    filter: grayscale(70%);
margin-left: auto;
margin-right: auto;
width:700px;
}
  #p5cafe{ margin-left:auto;
    margin-right: auto;
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 20px;
    font-weight: normal;
  }
  #p6cafe{ margin-left:auto;
    margin-right: auto;
    width:20cm;
    font-family: "Lucida Console", Courier, monospace; 
    color: rgb(70, 68, 68);
    font-size: 20px;
    font-weight: normal;
  }

  #span1{
    background-color:black;
    color:white;
  }
#span2{
  font-weight: bold;
  color:#000000
}

footer{
  
  align-items:center;
  text-align: left;
  margin-left:auto;
  margin-right: auto;
  width:20cm;
  font-family: "Lucida Console", Courier, monospace; 
  color: black;
  font-size: 15px;
  font-weight: normal;
}
.input{
  width:40%;
padding:15px;
margin:10px;
margin-left:auto;
  margin-right: auto;
  align-items:center;
  display: flex;
  flex-direction: column;
}
.input1{
  padding:15px;
margin:10px;
margin-left:auto;
  margin-right: auto;
  align-items:center;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;


}
